body {
    font-family: Roboto, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  img {
    display: block;
    max-height: 70%;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .main-content {
      margin-top: 40px;
  }

  .card {
    height: 550px;
  }