body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(62, 100, 71);
    color: white;
    font-size: 1.3rem;
}

#main-title {
    font-size: 3rem;
    margin-bottom: 0px;
    text-align: center;
}

#main-title--tagline {
    font-size: 1.3rem;
    margin-top: 0px;
    text-align: center;
}

nav {
    text-align: center;
}

nav li {
    list-style: none;
    display: inline;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #ccc;
}

nav li a {
    background-color: rgba(0, 0, 0, .3);
    padding: 5px 10px;
}

nav li a:hover {
    background-color: rgba(0, 0, 0, .6);
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section-title {
    font-size: 2.0rem;
}

.section-title-sub {
    font-size: 1.4rem;
    font-weight: 300;
}
