body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(62, 100, 71);
    color: white;
}

.jumbotron {
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .8)
}

.section {
    background-color: rgba(31, 50, 36, .1);
}

.section-title {
    font-weight: 700;
    font-size: 3.3rem;
    padding: 2px;
}

.section-title-sub {
    font-weight: 300;
    font-size: 2rem;
    margin-top: -10px;
    padding-left: 100px
}

.section-head {
    background-color: rgba(31, 50, 36, .4);
}

article h1 {
    font-size: 3rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

article h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

article h3 {
    font-size: 2rem;
    margin-top: 4px;
}

article p {
    font-size: 1.8rem;
    font-weight: lighter;
}

.thumbnail {
    height: 375px;
}

.thumbnail img {
    max-width:100%;
    max-height:150px;
}

#contact-section {
    font-size: 3rem;
    text-align: center;  
}

#contact-section h2 {
    font-size: 3.3rem;
    font-weight: 700;
}

#contact-section ul {
    list-style: none;
}

#contact-section li {
    display: inline-block;
    padding: 0px 30px;
}